/* /src/app/(home)/Index.module.css */

.index {
  width: 100lvw;
  flex: 1;
  overflow: clip;
  h1 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 300;
    width: fit-content;
    pointer-events: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    line-height: 1;
    font-size: 10rem;
    @media (min-width: 768px) {
      /* desktop */
      font-size: 27rem;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}
